In [23]:
import pandas
import requests

liste_of_imports = [pandas, requests]

for x in liste_of_imports:
    print(f"{(x)}:", x.__version__)

<module 'pandas' from 'C:\\Users\\DELL\\anaconda3\\Lib\\site-packages\\pandas\\__init__.py'>: 2.2.2
<module 'requests' from 'C:\\Users\\DELL\\anaconda3\\Lib\\site-packages\\requests\\__init__.py'>: 2.32.5

In [36]:
import os
from dotenv import load_dotenv

# Load variables from .env
load_dotenv()

# Fetch the key
API_KEY = os.getenv("NEWSAPI_KEY")

if API_KEY:
    print("The key has been successfully loaded")

The key has been successfully loaded

In [28]:
import requests
import pandas as pd
from datetime import timedelta

query = "HDFC"
url = "https://newsapi.org/v2/everything"
params = {
    "q": query,
    "from": str(date.today() - timedelta(days=7)),
    "to": str(date.today()),
    "language": "en",
    "pageSize": 20,
    "sortBy": "publishedAt",
    "apiKey": API_KEY
}

response = requests.get(url, params=params)
data = response.json()

if data["status"] == "ok":
    print("Data Has Been Loaded Successfully")

articles = data.get("articles", [])

df = pd.DataFrame(articles)
print(df.head())

Data Has Been Loaded Successfully
                                              source           author  \
0  {'id': 'the-times-of-india', 'name': 'The Time...              PTI
1  {'id': 'the-times-of-india', 'name': 'The Time...      Riya Sharma
2               {'id': None, 'name': 'BusinessLine'}              PTI
3  {'id': 'the-times-of-india', 'name': 'The Time...              PTI
4  {'id': 'the-times-of-india', 'name': 'The Time...  Shivendra Kumar

                                               title  \
0  Individual pays Rs 39 lakh to settle insider t...
1  Ahead of Market: 10 things that will decide st...
2  Gold soars past ₹1.18 lakh/10g as rupee hits r...
3  GK Energy's Rs 464-crore IPO gets 89.62 times ...
4  Gujarat-based Medicap Healthcare files DRHP wi...

                                         description  \
0  An individual on Tuesday settled with market r...
1  The Indian market ended lower on Tuesday, fall...
2  In the international markets, spot gold rose m...
3  The initial public offer of GK Energy Ltd, a s...
4  Medicap Healthcare plans a Rs 240 crore IPO wi...

                                                 url  \
0  https://economictimes.indiatimes.com/markets/s...
1  https://economictimes.indiatimes.com/markets/s...
2  https://www.thehindubusinessline.com/markets/g...
3  https://economictimes.indiatimes.com/markets/i...
4  https://economictimes.indiatimes.com/markets/i...

                                          urlToImage           publishedAt  \
0  https://img.etimg.com/thumb/msid-124074402,wid...  2025-09-23T15:56:26Z
1  https://img.etimg.com/thumb/msid-124074370,wid...  2025-09-23T15:55:33Z
2  https://bl-i.thgim.com/public/incoming/hk3ivz/...  2025-09-23T15:37:05Z
3  https://img.etimg.com/thumb/msid-124073010,wid...  2025-09-23T14:20:30Z
4  https://img.etimg.com/thumb/msid-124072615,wid...  2025-09-23T13:54:02Z

                                             content
0  (What's moving Sensex and Nifty Track latest m...
1  The Indian market ended lower on Tuesday, fall...
2  Gold prices surged 2,700 to scale a new peak o...
3  The initial public offer of GK Energy Ltd, a s...
4  (What's moving Sensex and Nifty Track latest m...

In [29]:
df.columns

Index(['source', 'author', 'title', 'description', 'url', 'urlToImage',
       'publishedAt', 'content'],
      dtype='object')

In [30]:
df.shape

(20, 8)

In [39]:
import requests
import pandas as pd

query = "stock market OR NSE OR BSE OR HDFC OR ICICI"
from_date = str(date.today() - timedelta(days=7))
to_date = str(date.today())

url = "https://newsapi.org/v2/everything"
params = {
    "q": query,
    "from": from_date,
    "to": to_date,
    "language": "en",
    "pageSize": 1,
    "sortBy": "publishedAt",
    "apiKey": API_KEY
}

response = requests.get(url, params=params)
data = response.json()

if data["status"] == "ok":
    print("Data Has Been Loaded Successfully")

articles = data.get("articles", [])
df = pd.DataFrame(articles)
print(df.head()

Data Has Been Loaded Successfully
                                   source           author  \
0  {'id': None, 'name': 'ETF Daily News'}  MarketBeat News

                                               title  \
0  Fujitsu (OTCMKTS:FJTSY) vs. Evolv Technologies...

                                         description  \
0  Fujitsu (OTCMKTS:FJTSY – Get Free Report) and ...

                                                 url  \
0  https://www.etfdailynews.com/2025/09/24/fujits...

                                          urlToImage           publishedAt  \
0  https://www.americanbankingnews.com/wp-content...  2025-09-24T05:44:48Z

                                             content
0  Fujitsu (OTCMKTS:FJTSY – Get Free Report) and ...

In [40]:
df.head()

,source,author,title,description,url,urlToImage,publishedAt,content
0,"{'id': None, 'name': 'ETF Daily News'}",MarketBeat News,Fujitsu (OTCMKTS:FJTSY) vs. Evolv Technologies...,Fujitsu (OTCMKTS:FJTSY – Get Free Report) and ...,https://www.etfdailynews.com/2025/09/24/fujits...,https://www.americanbankingnews.com/wp-content...,2025-09-24T05:44:48Z,Fujitsu (OTCMKTS:FJTSY – Get Free Report) and ...

In [41]:
data

{'status': 'ok',
 'totalResults': 17527,
 'articles': [{'source': {'id': None, 'name': 'ETF Daily News'},
   'author': 'MarketBeat News',
   'title': 'Fujitsu (OTCMKTS:FJTSY) vs. Evolv Technologies (NASDAQ:EVLV) Financial Contrast',
   'description': 'Fujitsu (OTCMKTS:FJTSY – Get Free Report) and Evolv Technologies (NASDAQ:EVLV – Get Free Report) are both computer and technology companies, but which is the better business? We will compare the two companies based on the strength of their risk, valuation, an…',
   'url': 'https://www.etfdailynews.com/2025/09/24/fujitsu-otcmktsfjtsy-vs-evolv-technologies-nasdaqevlv-financial-contrast/',
   'urlToImage': 'https://www.americanbankingnews.com/wp-content/timthumb/timthumb.php?src=https://www.marketbeat.com/logos/evolv-technologies-holdings-inc-logo-1200x675.png?v=20230511062620&w=240&h=240&zc=2',
   'publishedAt': '2025-09-24T05:44:48Z',
   'content': 'Fujitsu (OTCMKTS:FJTSY – Get Free Report) and Evolv Technologies (NASDAQ:EVLV – Get Free Report) are both computer and technology companies, but which is the better business? We will compare the two … [+5039 chars]'}]}

In [7]:
from datetime import date, timedelta

str(date.today())

'2025-09-25'

In [8]:
timedelta(days=7)

datetime.timedelta(days=7)

In [11]:
from datetime import datetime

ts = datetime.utcnow().strftime("%Y%m%dT%H%M%SZ")
print(ts)

20250925T043040Z

C:\Users\DELL\AppData\Local\Temp\ipykernel_12104\199579711.py:3: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  ts = datetime.utcnow().strftime("%Y%m%dT%H%M%SZ")

In [13]:
from datetime import datetime, timezone

now_utc = datetime.now(timezone.utc)
print(now_utc)

2025-09-25 04:38:13.904581+00:00

In [34]:
datetime.now(timezone.utc).strftime("%y%m%d%H")

'25092504'

In [42]:
import datetime
import json
import requests


def fetch_news():
    url = "https://newsapi.org/v2/everything"
    params = {
        "q" : "NSE OR BSE OR FinTech",
        "language": "en",
        "pageSize": 20, # Determines the Number of Articles returned
        "sortBy": "publishedAt",
        "api_key": NEWSAPI_KEY
    }
    response = requests.get(url=url, params=params)
    data = response.json()
    timestamp = datetime.now(timezone.utc).strftime("%Y%m%d%H")
    filename = f"news_{timestamp}.json"
    with open(filename, "w") as fp:
        json.dump(filename, fp)
    return filename

In [48]:
import yfinance as yf

ticker = yf.Ticker("AAPL")

history = ticker.history(period="1mo")
history.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 22 entries, 2025-08-25 00:00:00-04:00 to 2025-09-24 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          22 non-null     float64
 1   High          22 non-null     float64
 2   Low           22 non-null     float64
 3   Close         22 non-null     float64
 4   Volume        22 non-null     int64
 5   Dividends     22 non-null     float64
 6   Stock Splits  22 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 1.4 KB

In [49]:
import yfinance as yf

tickers = ["HDFCBANK.NS", "ICICIBANK.NS", "SBIN.NS"]
data = yf.download(tickers, period="5d", interval="1d")
print(data)

C:\Users\DELL\AppData\Local\Temp\ipykernel_12104\886269808.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers, period="5d", interval="1d")
[*********************100%***********************]  3 of 3 completed

Price            Close                                 High               \
Ticker     HDFCBANK.NS ICICIBANK.NS     SBIN.NS HDFCBANK.NS ICICIBANK.NS
Date
2025-09-19  966.900024  1402.199951  862.349976  976.700012  1418.000000
2025-09-22  964.200012  1401.500000  855.250000  971.200012  1409.900024
2025-09-23  957.200012  1394.300049  870.599976  968.200012  1403.300049
2025-09-24  951.049988  1382.699951  866.200012  956.450012  1390.900024
2025-09-25  953.750000  1375.699951  866.349976  955.799988  1391.500000

Price                          Low                                 Open  \
Ticker         SBIN.NS HDFCBANK.NS ICICIBANK.NS     SBIN.NS HDFCBANK.NS
Date
2025-09-19  864.450012  962.099976  1400.199951  849.299988  974.900024
2025-09-22  868.200012  961.950012  1397.199951  854.000000  964.000000
2025-09-23  874.250000  955.500000  1391.000000  851.200012  967.000000
2025-09-24  880.500000  943.000000  1376.500000  864.450012  952.200012
2025-09-25  870.150024  947.400024  1371.800049  861.200012  952.500000

Price                                    Volume
Ticker     ICICIBANK.NS     SBIN.NS HDFCBANK.NS ICICIBANK.NS   SBIN.NS
Date
2025-09-19  1416.099976  852.000000    31243267     13457344  15206426
2025-09-22  1403.900024  862.000000    10854415      8847948   6594034
2025-09-23  1391.000000  854.599976    21022298     12827524  14357863
2025-09-24  1386.400024  876.000000    15117220      9735678  12840160
2025-09-25  1377.000000  866.549988     7380720      5471267   2659274

In [50]:
data.head()

Price            Close                                 High               \
Ticker     HDFCBANK.NS ICICIBANK.NS     SBIN.NS HDFCBANK.NS ICICIBANK.NS
Date
2025-09-19  966.900024  1402.199951  862.349976  976.700012  1418.000000
2025-09-22  964.200012  1401.500000  855.250000  971.200012  1409.900024
2025-09-23  957.200012  1394.300049  870.599976  968.200012  1403.300049
2025-09-24  951.049988  1382.699951  866.200012  956.450012  1390.900024
2025-09-25  953.750000  1375.699951  866.349976  955.799988  1391.500000

Price                          Low                                 Open  \
Ticker         SBIN.NS HDFCBANK.NS ICICIBANK.NS     SBIN.NS HDFCBANK.NS
Date
2025-09-19  864.450012  962.099976  1400.199951  849.299988  974.900024
2025-09-22  868.200012  961.950012  1397.199951  854.000000  964.000000
2025-09-23  874.250000  955.500000  1391.000000  851.200012  967.000000
2025-09-24  880.500000  943.000000  1376.500000  864.450012  952.200012
2025-09-25  870.150024  947.400024  1371.800049  861.200012  952.500000

Price                                    Volume
Ticker     ICICIBANK.NS     SBIN.NS HDFCBANK.NS ICICIBANK.NS   SBIN.NS
Date
2025-09-19  1416.099976  852.000000    31243267     13457344  15206426
2025-09-22  1403.900024  862.000000    10854415      8847948   6594034
2025-09-23  1391.000000  854.599976    21022298     12827524  14357863
2025-09-24  1386.400024  876.000000    15117220      9735678  12840160
2025-09-25  1377.000000  866.549988     7380720      5471267   2659274

In [54]:
import yfinance

tickers = ["HDFCBANK.NS", "ICICIBANK.NS"]

data = yf.download(tickers, period="2d")
print(data)

C:\Users\DELL\AppData\Local\Temp\ipykernel_12104\4054758746.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers, period="2d")
[*********************100%***********************]  2 of 2 completed

Price            Close                     High                      Low  \
Ticker     HDFCBANK.NS ICICIBANK.NS HDFCBANK.NS ICICIBANK.NS HDFCBANK.NS
Date
2025-09-24  951.049988  1382.699951  956.450012  1390.900024  943.000000
2025-09-25  952.200012  1375.800049  955.799988  1391.500000  947.400024

Price                          Open                   Volume
Ticker     ICICIBANK.NS HDFCBANK.NS ICICIBANK.NS HDFCBANK.NS ICICIBANK.NS
Date
2025-09-24  1376.500000  952.200012  1386.400024    15117220      9735678
2025-09-25  1371.800049  952.500000  1377.000000     8219802      6178153

In [55]:
data.head()

Price            Close                     High                      Low  \
Ticker     HDFCBANK.NS ICICIBANK.NS HDFCBANK.NS ICICIBANK.NS HDFCBANK.NS
Date
2025-09-24  951.049988  1382.699951  956.450012  1390.900024  943.000000
2025-09-25  952.200012  1375.800049  955.799988  1391.500000  947.400024

Price                          Open                   Volume
Ticker     ICICIBANK.NS HDFCBANK.NS ICICIBANK.NS HDFCBANK.NS ICICIBANK.NS
Date
2025-09-24  1376.500000  952.200012  1386.400024    15117220      9735678
2025-09-25  1371.800049  952.500000  1377.000000     8219802      6178153

In [66]:
import sqlite3


connection_object = sqlite3.connect("financial_insights")
cursor_object = connection_object.cursor()

In [68]:
create_table_query = """
CREATE TABLE IF NOT EXISTS stock_prices (
    Datetime DATETIME,
    Ticker TEXT,
    Open REAL,
    High REAL,
    Low REAL,
    Close REAL,
    Volume INTEGER
);
"""

cursor_object.execute(create_table_query)
connection_object.commit()  # Save changes

In [7]:
import yfinance as yf

tickers = ["HDFCBANK.NS", "ICICIBANK.NS", "SBIN.NS"]
data = yf.download(tickers, period="1d", interval="1d")
data

C:\Users\DELL\AppData\Local\Temp\ipykernel_12736\4258272112.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers, period="1d", interval="1d")
[*********************100%***********************]  3 of 3 completed

Price            Close                                 High               \
Ticker     HDFCBANK.NS ICICIBANK.NS     SBIN.NS HDFCBANK.NS ICICIBANK.NS
Date
2025-09-25  949.849976  1375.800049  861.150024       958.0       1391.5

Price                          Low                                 Open  \
Ticker         SBIN.NS HDFCBANK.NS ICICIBANK.NS     SBIN.NS HDFCBANK.NS
Date
2025-09-25  870.150024  947.400024  1371.800049  859.950012       952.5

Price                                    Volume
Ticker     ICICIBANK.NS     SBIN.NS HDFCBANK.NS ICICIBANK.NS  SBIN.NS
Date
2025-09-25       1377.0  866.549988    31411456     21613267  8677805

In [13]:
import yfinance as yf

ticker = yf.Ticker("AAPL")
data = ticker.history(period="1d")
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-09-24 00:00:00-04:00,255.220001,255.740005,251.039993,252.309998,42265200,0.0,0.0